@import url('https://fonts.googleapis.com/css?family=Roboto:400');

body{
	font-family: 'Roboto', sans-serif;
}
h2{
	color: $placeholder;
	margin: 20px auto;
}
.container{
	margin: 0;
	padding: 0;
}
.flex-container{
	display: flex;
  flex-wrap: wrap;
}
.block-big{
	height: 190px;
	width: 220px;
	margin: 20px;
	position: relative;
	border-radius: 5px;
}
.button-add{
	color: $text;
	position: absolute;
	bottom: 0;
	p{
		margin: 0;
		font-size: 14px;
		margin: 15px;
		padding: 8px 14px;
		background-color: $white;
		border-radius: 4px;
		font-weight: bold;
		.plus{
			text-align: center;
			font-size: 11px;
		}
	}
}
.tiny-container{
	margin-right: 40px;
	display: inline-block;
	float: right;
}
.block-tiny-container{
	display: flex;
	justify-content: flex-end;
}
.block-tiny{
	height: 40px;
	width: 40px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	margin-right: -10px;
	position: relative;
	span{
		position: absolute;
		color: $cancel;
	}
}
.block-tiny-back{
	background-color: $white;
	border-color: $thirdBorder;
}
.block-tiny-middle{
	background-color: $white;
	border-color: $secondBorder;
}
.block-tiny-front{
	background-color: $white;
	border-color: $firstBorder;
}
.search-tab{
	margin: 20px;
	border: none;
	display: inline-block;
	input {
		border: none;
		font-size: 25px;
		&:focus{
			outline-width: 0;
		}

	}
}
.colors{
	color: $placeholder;
	font-size: 25px;
	margin: 20px;
	display: inline-block;
	float: right;
	p{
		margin: 0;
	}
}
::-webkit-input-placeholder{
	color: $placeholder;
}