body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Julius Sans One', sans-serif;
	background : #e6e6e6;
	min-width: 750px;
}
p{
	margin: 0;
}
.container{
	margin: 0 auto;
}
.board{

}
.board-back{

}
.cell{
	
}
.cell-b{

}
.circle-transparent{
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	background: rgba(0, 0, 0, 0.0);
	border: none;
}
.circle-white{
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	margin: 5px;
	background: rgba(255, 255, 255, 1.0);
	border: none;
}
.circle-black{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 5px;
	background: rgba(0, 0, 0, 1.0);
	border: none;
}
.circle-win{
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	margin: 5px;
	background: rgba(255, 60, 4, 1.0);
	border: none;
}
.players{
	width: 590px;
	margin: 20px auto;
	display: grid;
	justify-content: space-around;
	justify-items : center;
	grid-template-columns : repeat(3, 1fr);
}
.black{
	text-align: center;
	font-size: 18px;
	border-radius: 3px;
	border: 3px solid #000;
	padding: 20px 40px;
	background : #000;
	color: #fff;
}
/* .black-text::after{
	visibility: hidden;
	content: "WIN";
	color : rgb(255, 60, 4);
	font-size : 10px;
	vertical-align : super;

} */
.white{
	font-size: 18px;
	border-radius: 3px;
	border: 3px solid #FFF;
	padding: 20px 40px;
	background : #FFF;
	color: #000;
}
/* .white-text::after{
	visibility: hidden;
	content: "WIN";
	color : rgb(255, 60, 4);
	font-size : 10px;
	vertical-align : super;
} */
.new-game{
	visibility: hidden;
	border-radius: 3px;
	border: 3px solid rgb(255, 60, 4);
	padding: 20px 40px;
	font-size: 18px;
	color: #fff;
	background : rgb(255, 60, 4);
}
.new-game:hover{
	cursor: pointer;
	border: 3px solid #fff;
}
.logo{
	margin:  40px auto;
	color: rgb(255, 60, 4);
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}